@media (min-width: 0) and (max-width: 375px) {
    /** navbar styling **/
    header {
        width: 375px;
        height: 70px;
        padding: 0;
    }

    .nav-bar {
        width: 375px;
        height: 70px;
        display: flex;
        align-items: center;
    }

    .nav-logo {
        padding-left: 19px;
    }

    .bar-icon {
        display: block;
        position: absolute;
        right: 20px;
        top: 19px;
    }

    .nav-items {
        display: none;
    }

    .nav-contact {
        display: none;
    }

    /**section-container**/
    main {
        width: 375px;
        height: auto;
        margin: 0;
    }

    /* header */
    .section-container {
        width: 375px;
        height: auto;
        padding: 80px 20px;
    }

    .header {
        width: 100%;
        height: 322px;
    }   
    
    .header-frame {
        width: 100%;
        height: 242px;
        display: flex;
        flex-direction: column;
    }

    .header-heading {
        width: 335px;
        height: 144px;
    }

    .header-heading h3 {
        font-size: 40px;
        line-height: 48px;
    
    }

    .header-subheading {
        width: 100%;
        height: 74px;
        margin-top: 0;
        overflow: hidden;
    }

    .header-subheading p {
        font-size: 16px;
        line-height: 24.8px; 
    }

    .input-field {
        width: 335px;
        height: 56px;   
    }
    
    
    .input-search input {
        width: 100%;
        height: 56px;
    }
    
    .search-icon img {
        position: absolute;
        top: 16px;
        left: 12px;
    }


    /* content */
    .sidebar {
        display: none;
    }

    .blog-post-card {
        width: 100%;
        height: 560px;
        gap: 0;
        display: flex;
        flex-direction: column;
    }

    .blog-image img {
        width: 335px;
        height: 335px;
    }

    .blog-content {
        width: 100%;
        height: 209px;
        margin: 0;
    }

    .article-title {
        width: 100%;
        height: 76px;
    }

    .article-title h5 {
        display: none;
    }
    
    .article-title h6 {
        display: block;
        font-size: 32px;
        font-weight: 500;
        line-height: 38.5px;
        margin: 16px 0px 12px;
    }

    .article-description {
        width: 100%;
        height: 78px;
        overflow: hidden;
        margin-top: 12px;
    }

    .article-description p {
        font-size: 16px;
        line-height: 24.8px;
    }


    /* main-content */
    .main-content {
        width: 100%;
        height: 2594px;
        margin-top: 180px;
    }

    .last {
        display: none;
    }

    .main-content-header {
        width: 100%;
        height: 154px;
    }
    
    .main-content-heading h3 {
        font-size: 32px;
        line-height: 38.4px;
        padding-bottom: 1rem;
    }

    .main-content-subheading {
        width: 100%;
        height: 100px;
        overflow: hidden;
    }
    
    .main-content-subheading p {
        font-size: 16px;
        line-height: 24.8px;
    }

    br {
        display: none;
    }

    .articles-section {
        width: 100%;
        height: 2312px;
    }

    .article-card {
        width: 100%;
        height: 560px;
    }

    .article-card-image img {
        width: 100%;
        height: 335px;
    } 

    .article-section-button button {
        margin: 45px 111px 0;
    }
    
    /**contact section**/
    .contact-section-last {
        width: 375px;
        height: 582px;
    }

    .contact-form {
        width: 100%;
        height: 502px;
    }

    .contact-form-image-sm {
        display: block;
    }

    .contact-form-image-sm img {
        width: 100%;
        height: 502px;
        border-radius: 36px;
    }

    .contact-form-image {
        display: none;
    }

    .contact-form-intro {
        width: 303px;
        height: 204px;
        position: absolute;
        top: 80px;
        left: 20px;
        overflow: hidden;
    }

    .contact-form-intro h2 {
        font-size: 31px;
        line-height: 38.4px;
    }

    .contact-form-intro p {
        font-size: 14px;
        font-weight: 400;
        line-height: 21.7px;
    }

    .contact-form-input {
        width: 303px;
        height: 46px;
        bottom: 132px;
        left: 20px;
    }

    .contact-form-input button {
        width: 303px;
        height: 40px;
        left: -0px;
        bottom: -50px;
    }



    /**footer**/
    .foot-container {
        width: 375px;
        height: 870px;   
        color: var(--white);
        margin: 0;
        padding: 56px 20px;
        background-color: var(--black);
    }

    .parent-componant {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 629px;
    }

    .company-info {
        width: 100%;
        height: 326px;
    }
    
    .foot-heading h6 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 2.4rem;
        margin-bottom: 2rem;
    }

    .contact-info {
        width: 100%;
        height: 142px;
        display: flex;
        flex-wrap: wrap;
    }

    .menu-componant {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 279px;
    }

    .menu-right {
        width: 335px;
        height: 107px;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        margin-top: 24px;
    }

    .menu-right p {
        width: 335px;
        height: 10px;
    }

    hr {
        margin: 40px 0 16px;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 4rem;
    }

    .copyright {
        padding: 10px;
    }



}








@media (min-width: 376px) and (max-width: 1024px) {
    /** navbar styling **/
    header {
        width: 1024px;
        height: 83px;
    }

    .nav-items {
        display: none;
    }

    .nav-contact {
        display: none;
    }

    /**section-container**/
    main {
        width: 1024px;
        height: auto;
        margin: 0;
    }

    /* header */
    .section-container {
        width: 1024px;
        height: auto;
    }

    .header {
        width: 100%;
        height: 183px;
    }   
    
    .header-frame {
        width: 100%;
        height: 103px;
    }

    .header-heading {
        width: 393px;
        height: 96px;
    }
    
    .header-heading h3 {
        font-size: 40px;
        line-height: 48px;
    
    }

    .header-subheading {
        width: 378px;
        height: 99%;
        margin-top: 0;
        overflow: hidden;
    }

    .header-subheading p {
        font-size: 16px;
        line-height: 24.8px; 
    }

    .input-field {
        width: 864px;
        height: 56px;   
    }
    
    
    .input-search input {
        width: 100%;
        height: 56px;
    }
    
    .search-icon img {
        position: absolute;
        top: 16px;
        left: 12px;
    }

    /* content */
    .sidebar {
        display: none;
    }

    .blog-post-card {
        width: 864px;
        gap: 24px;
    }

    /* main-content */
    .main-content {
        width: 100%;
        height: 2910px;
    }

    .extra {
        display: none;
    }

    .article-section-button button {
        margin: 700px 375.5px 0;
    }
    

    /**contact section**/
    .contact-section-last {
        width: 1024px;
        height: 524px;
        padding: 2.5rem 1rem;
    }

    .contact-form {
        width: 100%;
        height: 444px;
    }

    .contact-form-image img {
        width: 100%;
        height: 444px;
    }

    .contact-form-intro {
        width: 698px;
        height: 190px;
        position: absolute;
        top: 80px;
        left: 147px;
    }

    .contact-form-intro h2 {
        font-size: 48px;
        line-height: 57px;
    }

    .contact-form-intro p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24.8px;
    }

    .contact-form-input {
        width: 504px;
        height: 54px;
        bottom: 80px;
        left: 244px;
    }

    .contact-form-input button {
        right: 8px;
        top: 6px;
    }



    /**footer**/
    .foot-container{
        width: 1024px;
        height: 528px;   
        margin: 0;
        padding: 80px 39px 0;
    }

    .parent-componant {
        display: flex;
        justify-content: space-between;
        width: 946px;
        height: 288px;
    }

    .company-info {
        width: 432px;
        height: 288px;
    }

    .contact-info {
        display: flex;
        flex-wrap: wrap;
    }

    .office {
        margin-top: 24px;
    }

    hr {
        width: 912px;
        margin: 40px 17px 16px;
        color: var(--white);
    }
    
    .footer-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 4rem;
        padding: 0px 17px;
    }

}