@media (min-width: 0) and (max-width: 375px) {
    /** navbar styling **/
    header {
        width: 375px;
        height: 70px;
        padding: 0;
    }

    .nav-bar {
        width: 375px;
        height: 70px;
        display: flex;
        align-items: center;
    }

    .nav-logo {
        padding-left: 19px;
    }

    .bar-icon {
        display: block;
        position: absolute;
        right: 20px;
        top: 19px;
    }

    .nav-items {
        display: none;
    }

    .nav-contact {
        display: none;
    }


    /**section-container**/
    main {
        width: 375px;
        height: auto;
        margin: 0;
    }

    .section-container {
        width: 100%;
        height: 1523px;
        padding: 80px 20px;
        margin: 0;
    }

    /** seetion **/
    .section {
        width: 100%;
        height: 353px;
        margin-bottom: 3.5rem;
    }

    .headline {
        width: 100%;
        height: 237px;
        margin-bottom: 1.5rem;
        overflow: hidden;
    }
    
    .headline h3 {
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 16px;
    }
    
    .headline p {
        font-size: 16px;
        line-height: 24.8px;
    }

    .search-section {
        width: 335px;
        height: 92px;
        margin: 0;
    }

    .input-field {
        width: 335px;
    }

    .popular {
        width: 335px;
        height: 27px;
        margin-left: 0;
        gap: 6px;
    }

    .description {
        padding: 0;
    }

    .description p {
        font-size: 13px;
    }

    /** faq section **/
    .menu {
        display: none;
    }

    .faq-section {
        width: 100%;
        height: 954px;
    }

    /* faq accordion*/
    .faq-accordion {
        width: 100%;
        height: auto;
    }

    .faq {
        width: 100%;
        height: 88px;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    .extra {
        width: 100%;
        height: 254px;
        background-color: var(--white);
        margin-bottom: 1rem;
        padding: 1rem;
    } 


     /**contact section**/
     .contact-section-last {
        width: 375px;
        height: 582px;
    }

    .contact-form {
        width: 100%;
        height: 502px;
    }

    .contact-form-image-sm {
        display: block;
    }

    .contact-form-image-sm img {
        width: 100%;
        height: 502px;
        border-radius: 36px;
    }

    .contact-form-image {
        display: none;
    }

    .contact-form-intro {
        width: 303px;
        height: 204px;
        position: absolute;
        top: 80px;
        left: 20px;
        overflow: hidden;
    }

    .contact-form-intro h2 {
        font-size: 31px;
        line-height: 38.4px;
    }

    .contact-form-intro p {
        font-size: 14px;
        font-weight: 400;
        line-height: 21.7px;
    }

    .contact-form-input {
        width: 303px;
        height: 46px;
        bottom: 132px;
        left: 20px;
    }

    .contact-form-input button {
        width: 303px;
        height: 40px;
        left: -0px;
        bottom: -50px;
    }

    /**footer**/
    .foot-container {
        width: 375px;
        height: 870px;   
        color: var(--white);
        margin: 0;
        padding: 56px 20px;
        background-color: var(--black);
    }

    .parent-componant {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 629px;
    }

    .company-info {
        width: 100%;
        height: 326px;
    }
    
    .foot-heading h6 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 2.4rem;
        margin-bottom: 2rem;
    }

    .contact-info {
        width: 100%;
        height: 142px;
        display: flex;
        flex-wrap: wrap;
    }

    .menu-componant {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 279px;
    }

    .menu-right {
        width: 335px;
        height: 107px;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        margin-top: 24px;
    }

    .menu-right p {
        width: 335px;
        height: 10px;
    }

    hr {
        margin: 40px 0 16px;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 4rem;
    }

    .copyright {
        padding: 10px;
    }

}







@media (min-width: 376px) and (max-width: 1024px) {
    /** navbar styling **/
    header {
        width: 1024px;
        height: 83px;
    }

    /**section-container**/
    main {
        width: 1024px;
        height: auto;
        margin: 0;
    }

    .section-container {
        margin: 0;
    }


    /**contact section**/
    .contact-section-last {
        width: 1024px;
        height: 524px;
        padding: 2.5rem 1rem;
    }

    .contact-form {
        width: 100%;
        height: 444px;
    }

    .contact-form-image img {
        width: 100%;
        height: 444px;
    }

    .contact-form-intro {
        width: 698px;
        height: 190px;
        position: absolute;
        top: 80px;
        left: 147px;
    }

    .contact-form-intro h2 {
        font-size: 48px;
        line-height: 57px;
    }

    .contact-form-intro p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24.8px;
    }

    .contact-form-input {
        width: 504px;
        height: 54px;
        bottom: 80px;
        left: 244px;
    }

    .contact-form-input button {
        width: 128px;
        height: 42px;
        right: 8px;
        top: 6px;
    }


    /**footer**/
    .foot-container{
        width: 1024px;
        height: 528px;   
        margin: 0;
        padding: 80px 39px 0;
    }

    .parent-componant {
        display: flex;
        justify-content: space-between;
        width: 946px;
        height: 288px;
    }

    .company-info {
        width: 432px;
        height: 288px;
    }

    .contact-info {
        display: flex;
        flex-wrap: wrap;
    }

    .office {
        margin-top: 24px;
    }

    hr {
        width: 912px;
        margin: 40px 17px 16px;
        color: var(--white);
    }
    
    .footer-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 4rem;
        padding: 0px 17px;
    }
}